<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME PAGE</title>



    <!-- Vendors -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/slick-theme.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/vue-airbnb-style-datepicker.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="public/css/styles.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">

</head>
<body>

  <header>
    <div class="main-nav position-relative d-none d-lg-block">
        <div class="top-main-nav text-center">
            <a href="#"><img src="public/images/logo-stars-placeholder.png" alt=""></a>
            <a href="#" class="book-btn-nav position-absolute" onclick="openWidget()">BOOK YOUR STAY</a>
        </div>
        <div class="container-fluid">
            <div class="links-main-nav d-flex justify-content-between">
                <a href="#" >About</a>
                <a href="#" >Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>

    <div class="mini-nav d-flex d-lg-none justify-content-between align-items-center navbar-hide">
        <div class="mini-nav-align d-flex">
            <img src="public/images/icons/icon-hamburger.svg" onclick="openNav()">
            <form action="" method="get" id="currencyConverter" class="dropdown-currency ml-3">
              <input type="hidden" name="redirect">
              <select id="currency-options" class="price-select" name="currencyCode" onchange="">
                  <option value="EUR">€ EUR</option>
                  <option value="GBP">£ GBP</option>
                  <option value="USD">$ USD</option>
              </select>
            </form>
        </div>
        <a href="#"><img src="public/images/logo-mark-grey.png"></a>
        <!-- <a href="#" class="book-btn-nav d-none d-md-block" onclick="openWidget()">BOOK YOUR STAY</a> -->
    </div>
</header>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="public/images/icons/close-x.svg" alt="">
    </a>
    <div class="side-nav-links text-center">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="public/images/icons/close-x.svg" alt="">
    </a>
    <div class="side-nav-links text-center">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
    </div>
</div>

  <section id="banner" class="d-none d-xl-block">
    <div class="container-fluid">
      <h1>The Redworth Hall Hotel</h1>
      <p>Surtees Rd, Newton Aycliffe DL5 6NL, UK</p>
      <!-- HOTEL INFO BUTTONS P3B -->
      <div class="hotel-info-buttons d-none d-lg-flex">
        <a href="#" data-toggle="modal" data-target="#modalTabs" class="btn">Hotel Info</a>
        <a href="#" class="btn">Map</a>
        <a href="#" class="btn">Gallery</a>
      </div>
      <!-- END HOTEL INFO BUTTONS P3B -->
    </div>
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <a href="#"><div class="hotel-gallery">
            <img src="public/images/icons/p3/icon-open-gallery.svg" class="icon-open-gallery">
          </div></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Mobile Hotel Info P3B -->
  <section id="mobile-hotel-info" class="d-xl-none">
    <div class="container-fluid d-flex justify-content-between">
      <a href="#" data-toggle="modal" data-target="#modalTabs"><i class="icon-info-white"></i> Hotel Info</a>
      <a href="#"><i class="icon-search-white"></i> New Search</a>
    </div>
  </section>
  <!-- END Mobile Hotel Info P3B -->

  <!-- IBE -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-4 pr-custom px-10">
        <!-- Booking Summary P3B -->
        <section id="booking-summary">
          <!-- Booking Summary Heading -->
          <div class="booking-summary-heading d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <h2>My Booking</h2>
              <span class="d-xl-none">Nov 30 - Dec 02</span>
            </div>
            <a href="#" class="btn btn-secondary edit-search-btn d-none d-xl-block">Edit</a>
            <div class="d-xl-none" style="height: 30px">
              <i class="icon-expand"></i>
            </div>
          </div>
          <div class="booking-summary-data">
            <div class="booking-summary-table">
              <div class="booking-row">
                <div class="booking-data d-flex">
                    <p>Hotel</p>
                    <p>Amberley House</p>
                </div>
              </div>
              <div class="booking-row">
                <div class="booking-data d-flex">
                    <p>Hotel</p>
                    <p>Amberley House</p>
                </div>
              </div>
              <div class="booking-row">
                <div class="booking-data d-flex">
                    <p>Hotel</p>
                    <p>Amberley House</p>
                </div>
              </div>
              <div class="booking-row">
                <div class="booking-data d-flex">
                    <p>Hotel</p>
                    <p>Amberley House</p>
                </div>
              </div>
              <div class="booking-row">
                <div class="booking-data d-flex">
                    <p>Hotel</p>
                    <p>Amberley House</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="desktop-sign-up d-none d-xl-block d-xl-flex mb-4">
          <img data-src="/public/images/img-join.jpg" class="lazyload d-none d-xl-block">
          <img data-src="/public/images/img-join-landscape.png" class="lazyload d-xl-none mb-3" height="200px" width="100%">
          <div class="desktop-sign-up-content">
            <h2>Sign up for 10% off</h2>
            <p>Join our loyalty club for free for special discounted rates. It only takes a minute!</p>
            <button class="btn btn-primary">Join Now</button>
            <p>Already a member? <a href="#">Login</a></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-8 pl-custom px-10">
        <!-- Progress Steps -->
        <section id="progress-steps">
          <!-- Progress Steps Mobile -->
          <div class="progress-steps-mobile d-flex d-md-none align-items-center">
            <img src="public/images/icons/p3/icon-progress-1-of-5.svg" alt="">
            <div>
              <h3>Choose Room 1 of 2</h3>
              <span>Next : Choose Room 2</span>
            </div>
          </div>
          <!-- End Progress Steps Mobile -->

          <!-- Progress Steps Desktop -->
          <div class="pregress-steps-desktop text-center d-none d-md-flex justify-content-between devider-bottom-desktop devider-bottom-mobile">
            <div class="d-flex align-items-center">
              <p class="active">Choose your room</p>
              <i class="icon-progress-step-separator"></i>
              <p>Choose your extras</p>
              <i class="icon-progress-step-separator"></i>
              <p>Your Details</p>
            </div>
            <form action="" method="get" id="currencyConverter" class="dropdown-currency">
              <input type="hidden" name="redirect">
              <select id="currency-options" class="price-select" name="currencyCode" onchange="">
                  <option value="EUR">€ EUR</option>
                  <option value="GBP">£ GBP</option>
                  <option value="USD">$ USD</option>
              </select>
            </form>
          </div>
          <!--End Progress Steps Desktop -->
        </section>
        <!-- End Progress Steps -->

        <div style="margin-top: 30px" class="d-none d-lg-block"></div>

        <!-- Start Room With Rates P3B LOOP -->
        <section class="card-style room-with-rates-wrapper">
          <div class="room-wrapper d-md-flex">
             <!-- Mobile Room Slider LOOP-->
              <div class="standard-slider d-md-none">
                  <div class="room-image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(4,3,62,0) 20%, rgba(9,9,121,0) 50%, rgba(4,115,191,0) 80%, rgba(0,0,0,0.3) 100%), url('../../public/images/room-image.png')";>
                  </div>
                  <div class="room-image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(4,3,62,0) 20%, rgba(9,9,121,0) 50%, rgba(4,115,191,0) 80%, rgba(0,0,0,0.3) 100%), url('../../public/images/room-image.png')";>
                  </div>
                  <div class="room-image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(4,3,62,0) 20%, rgba(9,9,121,0) 50%, rgba(4,115,191,0) 80%, rgba(0,0,0,0.3) 100%), url('../../public/images/room-image.png')";>
                  </div>
              </div>
              <!-- END Mobile Room Slider LOOP-->

              <!-- Desktop Img -->
              <div class="d-none d-md-block">
                <a href="javascript:;">
                  <div class="room-image" style="background-image: linear-gradient(122deg, rgba(0, 0, 0, 0), rgba(26, 26, 26, 0) 81%, rgba(26, 25, 25, 0) 85%, rgba(51, 50, 50, 0.5)) , url('../../public/images/room-image.png')";>
                    <img src="public/images/icons/p3/icon-open-gallery.svg" class="icon-open-gallery">
                  </div>
                </a>
              </div>
              <!--END Desktop Img -->

              <!-- Room Content -->
              <div class="room-content d-block d-md-flex justify-content-between w-100">
                <div class="room-ribbon">
                  <span>Only 1 left!</span>
                </div>
                <div class="room-left-side">
                  <a href="#">
                    <h3><i class="icon-info d-inline-block d-md-none mr-1"></i> Standard Single Room <i class="icon-info d-none d-lg-inline-block ml-1"></i></h3>
                  </a>
                  <ul class="d-none d-md-block">
                    <li><img src="public/images/icons/p3/icon-sleeps-3.svg" alt="">Sleeps 3</li>
                    <li><img src="public/images/icons/p3/icon-room-size.svg" alt="">18m<sup>2</sup></li>
                    <li><img src="public/images/icons/p3/icon-beds.svg" alt="">Double & Single Bed</li>
                  </ul>
                </div>
                <div class="d-flex justify-content-between align-items-end d-md-block room-right-side">
                  <div class="price-section">
                    <span class="strike-through d-none d-md-block">€320.00</span>
                    <h2><span class="from-spam">from</span><span class="main-price-curreny">€ </span>280<span class="price-after-decimal">.50</span></h2>
                    <span class="num-nights d-none d-md-block">1 night</span>
                  </div>
                  <button class="btn btn-primary view-rates-btn">Show Rates <i
                      class="fa icon-chevron-down"></i></button>
                </div>
              </div>
              <!-- END Room Content -->

          </div>
          <div class="rates-wrapper">

            <!-- Single Rate Container LOOP -->
            <div class="rate-container">
              <div class="d-block d-lg-flex justify-content-between align-items-center">
                <h3 class="rate-name"><a href="javascript:;"><i class="icon-info d-inline-block d-lg-none mr-1"></i> Room Only - Pay Now,
                  Non-refundable <i class="icon-info d-none d-lg-inline-block ml-lg-3"></i></a></h3>
                <div class="text-right d-flex justify-content-end select-rate">
                  <div class="d-flex align-items-end">
                    <span class="mb-3">1 night</span>
                    <span class="ml-2 mb-3 strike-through">€77.50</span>
                  </div>
                  <div class="text-center ml-3">
                    <span class="mobile-rate-free-cancel d-block d-lg-none">Free Cancellation</span>
                    <a href="#" class="btn btn-primary select-rate-btn loading-spinner"><span class="">€ </span>67<span class="price-after-decimal">.50</span> <i
                        class="icon-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="rate-description">
                <ul>
                  <li>Book now, pay on arrival 111111111111</li>
                  <li>Cancel for free by 2pm Tue, 29 Nov</li>
                </ul>
                <p>For when your plans are open to change, stay flexible! Enjoy a full English breakfast included in
                  this rate. </p>
              </div>
            </div>
            <!-- End Single Rate LOOP-->

            <div class="rate-container">
              <div class="rate-ribbon">
                <span>Free Cancellation</span>
              </div>
              <div class="d-block d-lg-flex justify-content-between align-items-center">
                <h3 class="rate-name"><a href="javascript:;"><i class="icon-info d-inline-block d-lg-none mr-1"></i> Room Only - Pay Now,
                  Non-refundable <i class="icon-info d-none d-lg-inline-block ml-lg-3"></i></a></h3>
                <div class="text-right d-flex justify-content-end select-rate">
                  <div class="d-flex align-items-end">
                    <span class="mb-3">1 night</span>
                    <span class="ml-2 mb-3 strike-through">€77.50</span>
                  </div>
                  <div class="text-center ml-3">
                    <span class="mobile-rate-urgency d-block d-lg-none">Only 1 left!</span>
                    <a href="#" class="btn btn-primary select-rate-btn loading-spinner"><span class="">€ </span>67<span class="price-after-decimal">.50</span> <i
                        class="icon-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="rate-description ml-3 mt-3 mt-lg-0">
                <ul>
                  <li>Book now, pay on arrival 2222222</li>
                  <li>Cancel for free by 2pm Tue, 29 Nov</li>
                </ul>
                <p>For when your plans are open to change, stay flexible! Enjoy a full English breakfast included in
                  this rate. </p>
              </div>
            </div>
          </div>
        </section>

        <!-- End Room with Rates P3B LOOP-->
      </div>
    </div>

  </div>

  
<!-- Footer -->

<footer>
  <div class="devider-top-desktop devider-top-mobile"></div>
  <div class="container-fluid">
      <div class="footer-links">
          <div class="d-lg-flex justify-content-between align-items-center">
              <a href="#"><img src="public/images/logo-stars-placeholder.png" alt=""></a>
              <ul class="footer-nav">
                  <li><a href="#">aaa</a></li>
                  <li><a href="#">bbb</a></li>
                  <li><a href="#">ccc</a></li>
                  <li><a href="#">ddd</a></li>
                  <li><a href="#">eee</a></li>
              </ul>
              <ul class="footer-social-links">
                  <li><a href=""><i class="fa fa-facebook"></i></a></li></a>
                  <li><a href=""><i class="fa fa-instagram"></i></li></a>
                  <li><a href=""><i class="fa fa-twitter"></i></li></a>
              </ul>
          </div>
      </div>
      <div class="footer-contact">
          <div class="row align-items-end">
              <div class="col-12 col-lg-6 order-1 order-lg-0">
                  <p>Glenroyal Hotel & Leisure Club, Straffan Road, Maynooth, W23 C2V1, Co. Kildare</p>
              </div>
              <div class="col-12 col-lg-6 text-lg-right order-0 order-lg-1 pb-4 pb-lg-0">
                  <p class="pb-2 pb-lg-0">+353 (0) 1 629 0909</p>
                  <p>info@glenroyal.ie / reservations@glenroyal.ie</p>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-devider d-none d-lg-block"></div>
  <div class="container-fluid">
      <div class="footer-sub-links text-center">
          <ul>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
          </ul>
      </div>
  </div>
</footer>

<div id="booking-widget" class="booking-widget">
  <a href="javascript:void(0)" class="closebtn" onclick="closeWidget()">
      <img src="public/images/icons/close-x.svg" alt="">
  </a>
  <div class="widget-form">
      <h2 class="d-none d-lg-block">Book Your Stay</h2>

      <form action="">
          <div class="form-group">
              <div class="booking-widget-datepicker">
                  <input class="form-control" type="text" id="trigger-single" :value="formatDates(arrivalDate)" placeholder="Select date" readonly>
                  <input type="hidden" name="arrival" :value="arrivalDate">
                  <airbnb-style-datepicker
                          :trigger-element-id="'trigger-single'"
                          :mode= "'single'"
                          :date-one="arrivalDate"
                          :months-to-show="1"
                          @date-one-selected="dateSelected"
                  ></airbnb-style-datepicker>
              </div>
          </div>
          <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                  <option>1 Night</option>
                  <option>2 Nights</option>
                  <option>3 Nights</option>
                  <option>4 Nights</option>
                  <option>5 Nights</option>
              </select>
          </div>

          <div class="guest-quantity" id="guest-widget" v-for="room in rooms">
              <div class="d-flex total-guests roll" v-on:click="isHidden = !isHidden">
                  <p>{{totalRooms}} room</p>
                  <p>{{totalPeople}} people</p>
              </div>
              <div class="guest-widget-buttons" v-if="!isHidden">
                  <div class="guest-widget-buttons-container">
                      <div class="d-flex align-items-center justify-content-between">
                          <p>How many rooms?</p>
                          <div class="d-flex align-items-center justify-content-between w-50">
                              <button type="button" @click="room.quantity -= 1" :disabled="room.quantity == 1">-</button>
                                  <span v-model.number="room.quantity">{{room.quantity}}</span>
                              <button type="button" @click="room.quantity += 1">+</button>
                          </div>
                      </div>
                      <div class="guest-info" v-if="room.quantity >= 4">
                          <p class="room-number">
                              <span>Room {{room.quantity}}<span>
                          </p>                            
                          <div class="align">
                              <div class="d-flex align-items-center my-3" v-for="person in people">
                                  <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                  <div class="d-flex align-items-center justify-content-between w-50">
                                      <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                          <span>{{person.quantity}}</span>
                                      <button type="button" @click="person.quantity += 1">+</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="guest-info" v-if="room.quantity >= 3">
                          <p class="room-number">
                              <span>Room {{room.quantity}}<span>
                          </p>                            <div class="align">
                              <div class="d-flex align-items-center my-3" v-for="person in people">
                                  <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                  <div class="d-flex align-items-center justify-content-between w-50">
                                      <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                          <span>{{person.quantity}}</span>
                                      <button type="button" @click="person.quantity += 1">+</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="guest-info" v-if="room.quantity >= 2">
                          <p class="room-number">
                              <span>Room {{room.quantity}}<span>
                          </p>                            <div class="align">
                              <div class="d-flex align-items-center my-3" v-for="person in people">
                                  <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                  <div class="d-flex align-items-center justify-content-between w-50">
                                      <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                          <span>{{person.quantity}}</span>
                                      <button type="button" @click="person.quantity += 1">+</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="guest-info" v-if="room.quantity >= 1">
                          <p class="room-number">
                              <span>Room {{room.quantity}}<span>
                          </p>
                          <div class="align">
                              <div class="d-flex align-items-center my-3" v-for="person in people">
                                  <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                  <div class="d-flex align-items-center justify-content-between w-50">
                                      <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                          <span>{{person.quantity}}</span>
                                      <button type="button" @click="person.quantity += 1">+</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <button type="button" class="apply-btn" v-on:click="isHidden = true">Apply</button>
                  </div>
              </div>
          </div>
          <div class="promo-code">
              <a href="javascript:;" class="promo-code-link">Add a code +</a>
              <div class="form-group">
                  <input type="email" class="form-control" placeholder="Type your code...">
              </div>
          </div>
          <button type="submit" class="btn btn-primary btn-cta w-100">Search</button>
      </form>
      <div class="d-flex align-items-center free-drink">
          <img src="public/images/icons/icon-free-drink.svg">
          <p>Book online with us and get a free drink at or hot beverage at the Arkle Bar & Restaurant!</p>
      </div>
  </div>
</div>

    
    <!-- JS Files -->

    <!-- jQuery -->
    <script src="public/js/jquery-3.5.0.min.js"></script>
    
    <!-- Slick -->
    <script type="text/javascript" src="public/js/slick.min.js"></script>

    <!-- Multi Select -->
    <script type="text/javascript" src="public/js/popper.js"></script>
    <script type="text/javascript" src="public/js/bootstrap-multiselect.js"></script>

    <!-- Prefixfree -->
    <script type="text/javascript" src="public/js/prefixfree.min.js"></script>
    <script type="text/javascript" src="public/js/prefixfree.dynamic-dom.min.js"></script>
    <script type="text/javascript" src="public/js/prefixfree.viewport-units.js"></script>
    <script type="text/javascript" src="public/js/prefixfree.jquery.js"></script>

    <!-- Lazyload -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.1.0/dist/lazyload.min.js"></script>

    <!-- Bootstrap -->
    <script src="public/js/bootstrap.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/no-dep/vue-airbnb-style-datepicker.min.js"></script>

    <!-- Vue Datepicker -->
    <script>

      window.datePickerMixin = {
          data: {
              dateFormat: '',
              arrivalDate: ''
          },
          methods: {
              dateSelected: function(date) {
                  this.arrivalDate = date;
              },

              getDateSuffix: function(d) {
                  if (d > 3 && d < 21) return 'th';
                  switch (d % 10) {
                      case 1:  return "st";
                      case 2:  return "nd";
                      case 3:  return "rd";
                      default: return "th";
                  }
              },

              formatDates: function(date) {
                  var daysShort = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
                  var shortMonthNames = [
                      'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec',
                  ];

                  var date = new Date(date);

                  return daysShort[date.getUTCDay()] + ' ' + date.getUTCDate() + this.getDateSuffix(date.getUTCDate()) + ' ' + shortMonthNames[date.getUTCMonth()];
              }
          }
      }

      window.initDatePicker = function(arrivalDate) {
          var datePickers = document.querySelectorAll('.date-picker');
          if ( ! datePickers || ! datePickers.length) {
              return;
          }

          // define options (optional)
          var datepickerOptions = {
              sundayFirst: true,
              colors: {
                  selected: '#57565b',
                  inRange: '#66e2da',
                  selectedText: '#fff',
                  text: '#565a5c',
                  inRangeBorder: '#33dacd',
                  disabled: '#fff',
                  hoveredInRange: '#67f6ee'
              },
          }
          // install plugin
          Vue.use(window.AirbnbStyleDatepicker, datepickerOptions);

          datePickers.forEach(function (element) {
              new Vue({
                  el: element,
                  mixins: [window.datePickerMixin],
                  mounted: function () {

                      if (arrivalDate) {
                          this.arrivalDate = arrivalDate;
                      } else {
                          this.arrivalDate = new Date();
                      }
                  }
              });
          });
      }
      initDatePicker('2020-03-20');


      window.initDatePickerBW = function(arrivalDate) {
          var datePickers = document.querySelectorAll('.booking-widget-datepicker');
          if ( ! datePickers || ! datePickers.length) {
              return;
          }

          // define options (optional)
          var datepickerOptions = {
              sundayFirst: true,
              colors: {
                  selected: '#57565b',
                  inRange: '#66e2da',
                  selectedText: '#fff',
                  text: '#565a5c',
                  inRangeBorder: '#33dacd',
                  disabled: '#fff',
                  hoveredInRange: '#67f6ee'
              },
          }
          // install plugin
          Vue.use(window.AirbnbStyleDatepicker, datepickerOptions);

          datePickers.forEach(function (element) {
              new Vue({
                  el: element,
                  mixins: [window.datePickerMixin],
                  mounted: function () {

                      if (arrivalDate) {
                          this.arrivalDate = arrivalDate;
                      } else {
                          this.arrivalDate = new Date();
                      }
                  }
              });
          });
      }
      initDatePickerBW('2020-03-20');

  
  </script>

    <script>
      new Vue({
          el: '#guest-widget',
          data: {
              rooms: [{"id":1,"quantity":1,"name":"Room"}],
              people: [{"id":1,"quantity":1,"name":"Adult"},{"id":2,"quantity":0,"name":"Children"},{"id":3,"quantity":0,"name":"Infant"}],
              isHidden: true
          },
          computed: {
              totalRooms () {
                  return this.rooms.reduce((sum, room) => {
                      return sum + room.quantity
                  }, 0)
              },
              totalPeople () {
                  return this.people.reduce((sum, people) => {
                      return sum + people.quantity
                  }, 0)
              }
          }
      })
    </script>
    
    <!-- Custom -->
    <script src="public/js/p3core.js"></script>
    <script src="public/js/custom.js"></script>

</body>
</html>