footer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    @include mQ(992px) {
        max-width: 1480px;
        padding: 0 60px 0 60px;
        margin-top: 40px;
    }
    @include mQmax (991px) {
        text-align: center;
    }
    .container {
        padding: 0;
        padding: 28px 0 14px 0;
        @include mQ(992px) {
            padding: 25px 0 10px 0;
        }
    }
    .footer-links {
        ul {
            column-count: 1;
            @include mQ(767px) {
                column-count: 3;
            }
            font-size: 14px;
        }
        li {
            list-style: none;
            margin-bottom: 11px;
        }

    }
    .logo {
        @include mQmax (991px) {
            margin-bottom: 28px;
        }
    }
    .footer-social-media {
        li {
            display: inline-block;
        }
        .fa {
            background: #333;
            height: 40px;
            width: 40px;
            border-radius: 50px;
            color: #fff;
            position: relative;
            font-size: 16px;
            padding-top: 10px;
            border: 2px solid #333;
            &:hover {
                color: #333;
                background: #fff;
            }
            &.fa-instagram {
                font-size: 20px;
                padding-top: 8px;
            }
        }
    }
}
.copy-rights {
    p {
        font-size: 12px!important;
        line-height: 22px;
        color: $primaryFontColor;
    }
    padding: 10px;
    @include mQ(992px) {
        padding: 10px 0;
    }
    background-color: #EDEDED;
}