@mixin bodyText {
    font-family: $textFont;
    font-size: 15px;
    line-height: 24px;
    color: rgba(87, 86, 91, 0.8);
    @include mQ (992px) {
        font-size: 16px;
        line-height: 26px;
    }
}
@mixin smallText {
    font-family: $headingFont;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    color: rgba(87, 86, 91, 0.6);
    @include mQ(992px) {
        font-size: 16px;
        line-height: 18px;
    }
}
@mixin sectionHeading {
    font-family: $headingFont;
    font-size: 20px;
    color: #57565b;
    @include mQ(992px) {
        font-size: 22px;
    }
}
@mixin bodyLink {
    color: $primaryFontColor;
    &:hover {
        color: $primaryFontColor;
        cursor: pointer;
    }
}
@mixin rateName {
    color: $primaryFontColor;
    font-size: 15px;
    @include mQ (992px) {
        font-size: 16px;
        line-height: 24px;
    }
    &:hover {
        text-decoration: none;
    }
}
@mixin cardHeading {
    font-family: $textFont;
    font-size: 17px;
    color: #57565b;
    margin-bottom: 10px;
    @include mQ (992px) {
        line-height: 30px;
    }
}
@mixin bookingSummaryBackground {
    background-color: $bookingSummaryBackgroundColor;
    // box-shadow: inset 1px 1px 0 0 #d8d8d8;
    // border: 1px solid red;
    @include mQ(992px) {
        background-color: $bookingSummaryBackgroundColorDesktop;
        // border: 1px solid brown;
    }
}
@mixin cardStyle {
    // box-shadow: inset 0px 0px 0px 1px #d8d8d8;
    margin-bottom: 30px;
    background-color: $secondaryColor;
    // border: ;
    // background-color: ;
}
@mixin btnPrimary {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #f6f6f6;
    // height: 50px;
    background-color: #57565b;
    border-radius: 2px;
    border: 2px solid #57565b;
    padding: 12px 20px;
    box-shadow:inset 0px 0px 0px 1px #fff;
    text-transform: uppercase;
    font-family: $textFont;
    &:hover {
        color: #f6f6f6!important;
        cursor: pointer;
        background-color: rgba(87, 86, 91, 0.8);
        border: 2px solid rgba(87, 86, 91, 0.8);
        box-shadow:inset 0px 0px 0px 1px #fff;

    }
    &:active {
        color: #f6f6f6!important;
        cursor: pointer;
        background-color: rgba(87, 86, 91, 0.8)!important;
        border: 2px solid rgba(87, 86, 91, 0.8)!important;
        box-shadow:inset 0px 0px 0px 1px #fff!important;

    }
    &:focus {
        background-color: rgba(87, 86, 91, 0.8);
        border: 2px solid rgba(87, 86, 91, 0.8);
        color: #f0f0f0;
        cursor: pointer;
        box-shadow:inset 0px 0px 0px 1px #fff;
    }
}
@mixin btnSecondary {
    background-color: inherit;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    padding: 0 15px;
}
@mixin hotelInfoBtn {
    border: 1px solid rgba(131, 111, 111, 0.8);
    height: 40px;
    margin-right: 20px;
    background-color: inherit;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20;
    padding-right: 20;
}
@mixin inputSelect {
    box-shadow: inset 1px 1px 0 0 #d8d8d8;
    background-color: #f2f2f2;
    color: rgba(51, 50, 50, 0.8);
    font-size: 16px;
    border: solid 1px transparent;
    &:focus {
        box-shadow: inset 1px 1px 0 0 #d8d8d8;
        border: solid 1px rgba(51, 50, 50, 0.8);
    }
}
@mixin formLabel {
    font-size: 16px;
    color: rgba(87, 86, 91, 0.8);
}
@mixin selectIcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 15px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: $selectIcon;
    padding: 4px 23px 4px 10px;
    &:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }
}
@mixin priceTag {
    font-family: $textFont;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    color: $primaryFontColor;
}
@mixin priceSpan {
    font-family: $textFont;
    color: $primaryFontColor;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
}
@mixin addonPriceTag {
    font-family: $textFont;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    color: $primaryFontColor;
}
@mixin iconExpand {
    -webkit-mask-image: $iconExpand!important;
    background: $iconExpand!important;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin iconCollapse {
    -webkit-mask-image: $iconCollapse!important;
    background: $iconCollapse!important;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// From CMS
.btn-cta {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #f0f0f0;
    height: 50px;
    background-color: #57565b;
    border-radius: 2px;
    border: 2px solid #57565b;
    padding: 15px 20px;
    box-shadow:inset 0px 0px 0px 1px #fff;
    text-transform: uppercase;
    font-family: $textFont;
    &:hover, &:active {
        color: #f0f0f0;
        cursor: pointer;
        background-color: rgba(87, 86, 91, 0.8);
        border: 2px solid rgba(87, 86, 91, 0.8);
    }
    &:focus {
        background-color: #424146;
        border: 2px solid #424146;
        color: #f0f0f0;
    }
}
.newsletter-btn {
    background-color: rgba(240, 240, 240, 0.2);
    border: solid 2px rgba(240, 240, 240, 0.2);
}

@mixin h2 {
    font-size: 30px;
    color: #c0bfc2;
    padding-bottom: 20px;
    @include mQ (992px) {
        font-size: 45px;
    }
    @include mQ (1200px) {
        font-size: 60px;
    }
}
@mixin h2-standard {
    font-family: $headingFont;
    font-size: 24px;
    color: #57565b;
    font-weight: 400;
    @include mQ (992px) {
        font-size: 32px;
    }
}
@mixin span-standard {
    font-family: $headingFont;
    font-size: 15px;
    font-style: italic;
    color: rgba(87, 86, 91, 0.6);
    margin-bottom: 15px;
    display: block;
    @include mQ (992px) {
        font-size: 16px;
    }
}

@mixin standardSlider {
    .standard-slider {
        .slider-item {
          height: 238px;
          background-size: cover;
          background-position: center;
          @include mQ (992px) {
            height: 600px;
          }
          @include mQ (1500px) {
            height: 713px;
          }
        }
        .slick-dots {
            bottom: 10px;
        }
    }
}
@mixin select {
    box-shadow: inset 1px 1px 0 0 #d8d8d8;
    background-color: #f2f2f2;
    border: solid 1px transparent;
    background-image: $selectIcon;
}