// Fonts
$headingFont: 'Gelasio', ;
$textFont: 'Montserrat', sans-serif;

// Colours
$primaryFontColor: #333232;
$primaryColor: #57565b;
$secondaryColor: #fff;
$pageBg: #f6f6f6;
$bookingSummaryBackgroundColor: #fff;
$cardBackgroundColor: #fff;
$modalDescription2Background: #f2f2f2;
$modalBackgroundColour: #fff;

// Icons
$selectIcon: url(../../public/images/icons/p3/icon-chevron-dark-down.svg);
$tickIcon: url(../../public/images/icons/p3/icon-tick-square.svg);
$confirmationIcon: url(../../public/images/icons/p3/icon-Confirmation.svg);