// Fonts
$headingFont: 'Gelasio', ;
$textFont: 'Montserrat', sans-serif;

// Colours
$primaryFontColor: #57565b;
$secondaryFontColor: #f6f6f6;
$primaryColor: #57565b;
$secondaryColor: #fff;
$pageBg: #f6f6f6;
$bookingSummaryBackgroundColor: rgba(204, 204, 205, 0.7);
$bookingSummaryBackgroundColorDesktop: #fff;
$cardBackgroundColor: #fff;
$modalDescription2Background: #f2f2f2;
$modalBackgroundColour: #fff;
$deviderColor: rgba(87, 86, 91, 0.3);

// Icons
$selectIcon: url(../../public/images/icons/p3/icon-chevron-dark-down.svg);
$tickIcon: url(../../public/images/icons/p3/icon-tick-square.svg);
$confirmationIcon: url(../../public/images/icons/p3/icon-Confirmation.svg);