// Fonts
$headingFont: 'Gelasio', ;
$textFont: 'Montserrat', sans-serif;

// Colours
$primaryFontColor: #57565b;
$secondaryFontColor: #f6f6f6;
$primaryColor: #57565b;
$secondaryColor: #fff;
$pageBg: #f6f6f6;
$bookingSummaryBackgroundColor: rgba(204, 204, 205, 0.7);
$bookingSummaryBackgroundColorDesktop: #fff;
$cardBackgroundColor: #fff;
$modalDescription2Background: #f6f6f6;
$modalBackgroundColour: #fff;
$deviderColor: rgba(87, 86, 91, 0.3);

// Icons
$selectIcon: url(../../public/images/icons/p3/icon-btn-next-period.svg);
$tickIcon: url(../../public/images/icons/p3/icon-tick-square.svg);
$confirmationIcon: url(../../public/images/icons/p3/icon-confirmation.svg);

$iconProgressComplete: url(../../public/images/icons/p3/icon-progress-complete.svg);
$iconProgressDefault: url(../../public/images/icons/p3/icon-progress-default.svg);
$iconInfoDarkDefault: url(../../public/images/icons/p3/icon-info-dark-default.svg);
$iconInfoDarkHover: url(../../public/images/icons/p3/icon-info-dark-hover.svg);
$iconInfoLightDefault: url(../../public/images/icons/p3/icon-info-light-default.svg);
// $iconBtnNextMonth:
// $iconBtnPrevMonth:
// $iconBtnNextPeriod:
// $iconBtnPrevPeriod:
$iconBtnPrimaryUp: url(../../../public/images/icons/p3/icon-btn-primary-up.svg);
$iconBtnPrimaryDown: url(../../../public/images/icons/p3/icon-btn-primary-down.svg);
$iconBtnPrimaryRight: url(../../../public/images/icons/p3/icon-btn-primary-right.svg);
$iconExpand: url(../../../public/images/icons/p3/icon-expand.svg);
$iconCollapse: url(../../../public/images/icons/p3/icon-collapse.svg);
$iconCloseLightDefault: url(../../../public/images/icons/p3/icon-close-light-default.svg);
$iconCloseLightHover: url(../../../public/images/icons/p3/icon-close-light-hover.svg);
$iconCloseDarkDefault: url(../../../public/images/icons/p3/icon-close-dark-default.svg);
$iconCloseDarkHover: url(../../../public/images/icons/p3/icon-close-dark-hover.svg);
$iconSearchAgain: url(../../../public/images/icons/p3/icon-search-again.svg);
// $iconOpenGallery: 
$iconGalleryArrowRight: url(../../../public/images/icons/p3/icon-gallery-arrow-right.svg);
$iconGalleryArrowLeft: url(../../../public/images/icons/p3/icon-gallery-arrow-left.svg);
// $iconCalendarArrowLeft:
// $iconCalendarArrowRight:
// $iconContactEmail:
// $iconContactHome:
// $iconContactAddress:
// $iconCardAmex:
// $iconCardMastercard:
// $iconCardVisa:
// $iconConfirmation:
// $iconProgress1of5: 
// $iconProgress2of5: 
// $iconProgress3of5: 
// $iconProgress4of5: 
// $iconProgress5of5: 
// $iconProgress1of3: 
// $iconProgress2of3: 
// $iconProgress3of3:
// $iconRoomSize:
// $iconBeds:
// $iconSleeps1:
// $iconSleeps2:
// $iconSleeps3:
// $iconSleeps4:
// $iconSleeps4Family:
