@import './variables';
@import './resets';
@import './mixins';
@import './p3mixins';
@import './p3';
@import './header';
@import './footer';

// Slick
.slick-dots {
  bottom: 50px;
}
.slick-dots li button:before {
  font-size: 15px;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}
.slick-dots li button:hover:before {
  opacity: 0.2;
  color: white;
}

p {
    @include bodyText;
}

// container
.container-fluid {
  @include mQ (992px) {
      padding: 0 3vw;
  }
  @include mQ (1600px) {
      padding: 0 10vw;
  }
}

#banner {
    padding: 42px 0 30px 0;
    h1 {
        font-family: $headingFont;
        font-size: 25px;
        color: #ffffff;
        margin-bottom: 26px;
        margin-top: 0;
    }
    p {
        margin-bottom: 37px;
    }
}
.hotel-info-buttons .btn {
    border: solid 2px rgba(240, 240, 240, 0.2);
    height: 40px;
    margin-right: 20px;
    background-color: rgba(240, 240, 240, 0.2);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    font-family: "Montserrat", sans-serif;
    height: 50px;
    text-transform: uppercase;
    &:hover {
        background-color: #f6f6f6;
        color: #57565b;
        border: solid 2px #f6f6f6!important;
    }
}
.hotel-gallery {
    background: linear-gradient(104deg, rgba(51, 50, 50, 0.5), rgba(26, 25, 25, 0) 85%,rgba(26, 26, 26, 0) 81%, rgba(0, 0, 0, 0)), url("https://www.ahstatic.com/photos/9399_ho_00_p_1024x768.jpg") no-repeat center center;
    height: 242px;
    width: 100%;
    position: absolute;
    top: -211px;
    right: 0;
}
.desktop-sign-up {
    background-color: $bookingSummaryBackgroundColorDesktop;
    padding: 10px 10px;
    @include mQ(992px) {
        padding: 30px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 10px;
        font-family: $textFont;
        color: #57565b;
    }
    .desktop-sign-up-content {
      @include mQ(1200px) {
        padding: 10px 0 0 20px;
      }
    }
    p {
        @include bodyText;
        margin-bottom: 15px;
    }
    .btn {
      margin-bottom: 15px;
      width: 100%;
      max-width: 186px;
      padding: 12px 10px;
    }
    img {
      object-fit: cover;
    }
    a {
      text-decoration: underline;
    }
  }
  
#booking-summary {
    .open-booking-summary {
        .icon-chevron-down {
            background-image: url(../../public/images/icons/icon-expand.png);
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
        .icon-chevron-up {
            background-image: url(../../public/images/icons/icon-collapse.png);
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
    }
    .booking-summary-heading {
        h2 {
            text-transform: capitalize;
            font-size: 16px;
            @include mQ (992px) {
                font-family: $headingFont;
                font-size: 25px;
            }
        }
        @include mQmax (992px) {
            padding: 8.5px 10px;
        }
        
    }
    .btn-secondary {
        border-radius: 2px;
        border: solid 1px rgba(87, 86, 91, 0.3);
        background-color: rgba(255, 255, 255, 0);
        font-size: 14px;
        font-weight: 500;
        color: #57565b;
        font-family: $textFont;
        &:focus, &:hover {
            border: solid 1px #57565b;
            background-color: rgba(255, 255, 255, 0);
        }
        &:active {
            background-color: #57565b;
            color: #fff;
        }
    }
}
.booking-summary-table {
    padding: 10px 0;
    p:nth-child(even) {
        text-align: right;
    }
}

a {
    color: rgba(87, 86, 91, 0.8);
}
.booking-summary-heading {
    color: $primaryFontColor;
}
// Progress Steps
#progress-steps {
    .active {
        color: $primaryColor;
    }
    .pregress-steps-desktop {
        color: rgba(87, 86, 91, 0.6);
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 30px;
        margin-bottom: 20px;
        p, i {
            margin-right: 10px;
            font-family: $headingFont;
            font-style: italic;
        }
        .step-complete {
            color: rgba(87, 86, 91, 0.6);
        }
    }
    .progress-steps-mobile {
        margin: 30px 0;
        img {
            margin-right: 15px;
        }
        h3 {
            font-size: 18px;
            color: $primaryColor;
            text-transform: capitalize;
            font-family: $headingFont;
        }
        span {
            @include smallText;
            font-style: italic;
            font-size: 13px;
        }
    }
}
.icon-progress-step-separator {
    background-color: rgba(87, 86, 91, 0.6);
    -webkit-mask-image: url(../../../public/images/icons/icon-progress-default.svg);
    mask-image: url(../../../public/images/icons/icon-progress-default.svg);
}
#currencyConverter {
    select {
        border: none;
        font-size: 13px;
        color: rgba(51, 50, 50, 0.5);
        background-color: $pageBg;
        background-image: url(http://127.0.0.1:5500/public/css/../../public/images/icons/p3/dropdown-arrows.svg);
        background-size: 10px;
    }
}
.room-content {
    .room-ribbon {
        left: 0;
        span {
            background-color: #c20b32;
            border-bottom-right-radius: 10px;
            left:0;
            top: 14px;
            padding: 5px 10px 5px 5px;
            font-family: $textFont;
            font-style: normal;
        }
    }
}
.rates-wrapper {
    .rate-ribbon {
        left: 0;
        span {
            background-color: #6abb91;
            left: -30px;
            top: -7px;
            padding: 5px 10px 5px 5px;
            font-family: $textFont;
            font-style: normal;
            border-bottom-right-radius: 10px;
            font-weight: 400;
        }
    }
    .mobile-rate-free-cancel {
        font-family: $textFont;
        font-style: normal;
        font-weight: 500;
    }
    .mobile-rate-urgency {
        font-family: $textFont;
        font-style: normal;
        font-weight: 500;
    }
    .rate-name {
        font-weight: 400;
    }
    .rate-description {
        margin: 20px 0 20px 16px;
        li {
            margin-bottom: 5px;
        }
    }
    .select-rate-btn {
        letter-spacing: 0;
    }
}

// Addons
.addons-total-row {
    @include mQmax (991px) {
        button {
            width: 100%;
        }
        .addons-total-details {
            text-align: right!important;
        }
    }
    .addons-total-details {
        color: rgba(87, 86, 91, 0.8);
        line-height: 1.3;
    }
}
.addon-content {
    @include mQmax (991px) {
        .icon-info {
            height: 24px;
            width: 24px;
        }
    }
}

p.booking-summary-room-name {
    color: #57565b;
}
.booking-summary-data h2 {
    color: #57565b;
}
.booking-summary-total-wrapper p:nth-child(even) {
    text-align: right!important;
}
.payment-summary-extra .payment-summary-box p {
    font-family: $headingFont;
    font-style: italic;
}
.confirmation-content-box h3 {
    font-family: $headingFont;
    font-size: 22px;
}
.modal-body {
    @include mQ (992px) {
        border-radius: 2px;
    }
}
.skip-btn {
    @include mQmax (991px) {
        width: 100%;
    }
}
.continue-btn {
    @include mQmax (991px) {
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (min-width: 992px) {
    .room-wrapper .room-image {
        height: 100%;
        min-height: 210px;
    }
}

a.expand-special-request {
    text-decoration: none;
}

.icon-plus-circle {
    background: url(../../public/images/icons/p3/icon-add-default.svg);
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    transition: 0.5s;
    &:hover {
        background: url(../../public/images/icons/p3/icon-add-hover.svg);
    }
}
.icon-minus-circle {
    background: url(../../public/images/icons/p3/icon-remove-default.svg);
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    transition: 0.5s;
    &:hover {
        background: url(../../public/images/icons/p3/icon-remove-hover.svg);
    }
}
.expand-special-request i {
    margin-top: 0;
}